/*
The main stylesheet of the application
I used ChatGPT to assist in generating CSS for combo box, text fields, scrollbar, and check box
 */

@font-face {
  font-family: Lato;
  src: url('./fonts/regular.ttf');
}

@font-face {
  font-family: 'Lato Bold';
  src: url('./fonts/bold.ttf');
}

.root {
  -fx-font-family: Lato;
  -fx-background: -fx-primary;
  -fx-font-size: 14px;
  -fx-text-fill: -fx-secondary;
}

Label, Text {
  -fx-fill: -fx-secondary;
  -fx-text-fill: -fx-secondary;
}

.main-title {
  -fx-font-size: 28px;
  -fx-font-family: 'Lato';
  -fx-font-weight: bold;
}

.secondary-title {
  -fx-font-size: 20px;
  -fx-font-family: Lato;
  -fx-fill: -fx-secondary;
}

.button {
  -fx-background-color: -fx-accent;
  -fx-text-fill: -fx-light !important;
  -fx-font-size: 15px;
}

.button:hover {
  -fx-opacity: 0.9;
}

.alert-warning {
  -fx-fill: -fx-warning;
  -fx-font-weight: bold;
  -fx-font-size: 16px;
}

.alert-info {
  -fx-fill: -fx-accent;
  -fx-font-size: 16px;
}

.metadata-container {
  -fx-font-size: 15px;
  -fx-background-color: -fx-light;
  -fx-padding: 15 10 15 10;
}

.control-buttons {
  -fx-padding: 10 0 10 0;
}

.sidebar {
  -fx-padding: 0 0 300 0;
}

.info-box {
  -fx-padding: 15 10 15 10;
  -fx-border-width: 2px;
  -fx-border-color: -fx-secondary;
  -fx-border-style: solid;
}

/* Slider */
.slider {
  -fx-padding: 15 0 0 0;
}

.slider .track {
  -fx-background-color: -fx-light;
  background-color: -fx-light;
  -fx-background-radius: 0;
  -fx-background-insets: 2 -2 1 0;
}

.slider .thumb {
  -fx-background-color: -fx-accent;
  background-color: -fx-accent;
  -fx-background-radius: 15;
  -fx-background-insets: 1 0 1 2;
  -fx-border-radius: 15;
  border-radius: 15;
  -fx-border-insets: 1 0 1 2;
  -fx-pref-width: 15;
  -fx-pref-height: 15;
  -fx-cursor: HAND;
  cursor: HAND;
}

.slider:focused .thumb {
  -fx-border-color: -fx-accent;
  border-color: -fx-accent;
  -fx-opacity: 0.8;
}

.slider .thumb:hover {
  -fx-border-color: -fx-accent;
  border-color: -fx-accent;
  -fx-opacity: 0.8;
}

.slider .thumb:pressed {
  -fx-border-color: -fx-accent;
  border-color: -fx-accent;
  -fx-opacity: 0.8;
}

.combo-box {
  -fx-font-family: Lato;
  -fx-font-size: 14px;
  -fx-text-fill: #fff;
  -fx-background-color: -fx-light;
  -fx-border-color: -fx-secondary;
  -fx-border-width: 1px;
  -fx-border-radius: 5px;
}

.combo-box:hover {
  -fx-border-color: -fx-accent;
}

.combo-box:focused {
  -fx-border-color: -fx-primary;
  -fx-background-color: -fx-light;
}

.combo-box .arrow-button {
  -fx-background-color: -fx-accent;
  -fx-text-fill: -fx-light;
}

.combo-box .arrow-button:hover {
  -fx-background-color: -fx-primary;
}

.list-cell {
  -fx-text-fill: -fx-secondary;
  -fx-background-color: -fx-light;
}

.list-cell:hover {
  -fx-background-color: -fx-accent;
  -fx-text-fill: -fx-primary;
}

.text-field, .password-field {
  -fx-font-family: Lato;
  -fx-font-size: 14px;
  -fx-text-fill: -fx-secondary;
  -fx-prompt-text-fill: -fx-accent;
  -fx-background-color: -fx-light;
  -fx-border-color: -fx-secondary;
  -fx-border-width: 1px;
  -fx-border-radius: 5px;
}

.text-field:hover, .password-field:hover {
  -fx-border-color: -fx-accent;
  -fx-border-radius: 5px;
}

.text-field:focused, .password-field:focused {
  -fx-border-color: -fx-primary;
  -fx-background-color: -fx-light;
}

.check-box .box {
  -fx-background-color: -fx-light;
  -fx-border-color: -fx-accent;
  -fx-border-width: 1px;
  -fx-border-radius: 5px;
}

.check-box:selected .mark {
  -fx-background-color: -fx-accent;
  -fx-border-color: -fx-accent;
}

.check-box .text {
  -fx-text-fill: -fx-accent;
}

.scroll-bar {
  -fx-background-color: transparent;
}

.scroll-bar .thumb {
  -fx-background-color: -fx-secondary;
  -fx-background-radius: 5px;
  -fx-pref-width: 5px;
  -fx-pref-height: 5px;
}

.scroll-bar .thumb:hover {
  -fx-background-color: derive(-fx-accent, -10%);
}

.scroll-bar .thumb:pressed {
  -fx-background-color: derive(-fx-accent, -20%);
}

.scroll-bar .track {
  -fx-background-color: -fx-primary;
  -fx-background-radius: 10px;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
  -fx-background-color: -fx-light;
  -fx-background-radius: 10px;
}
