/*
The main stylesheet of the application
 */

/** {*/
/*  -fx-primary: rgb(232, 232, 232);*/
/*  -fx-secondary: rgb(46, 46, 46);*/
/*  -fx-light: rgb(214, 214, 214);*/
/*  -fx-accent: rgb(61, 15, 255);*/
/*  -fx-warning: rgb(239, 34, 34);*/
/*}*/

@font-face {
  font-family: Lato;
  src: url('./fonts/regular.ttf');
}

@font-face {
  font-family: 'Lato Bold';
  src: url('./fonts/bold.ttf');
}

.root {
  -fx-font-family: Lato;
  -fx-background: -fx-primary;
  -fx-font-size: 14px;
}

.main-title {
  -fx-font-size: 24px;
  -fx-font-family: 'Lato Bold';
  -fx-font-weight: bold;
}

.secondary-title {
  -fx-font-size: 20px;
  -fx-font-family: Lato;
  -fx-fill: -fx-secondary;
}

.button {
  -fx-background-color: -fx-accent;
  -fx-text-fill: -fx-light;
  -fx-font-size: 15px;
}

.button:hover {
  -fx-opacity: 0.9;
}

.alert-warning {
  -fx-fill: -fx-warning;
  -fx-font-weight: bold;
  -fx-font-size: 16px;
}

.alert-info {
  -fx-fill: -fx-accent;
  -fx-font-size: 16px;
}

.metadata-container {
  -fx-font-size: 15px;
  -fx-background-color: -fx-light;
  -fx-padding: 15 10 15 10;
}

.control-buttons {
  -fx-padding: 50 0 10 0;
}

.info-box {
  -fx-padding: 15 10 15 10;
  -fx-border-width: 2px;
  -fx-border-color: -fx-secondary;
  -fx-border-style: solid;
}

/* Slider */
.slider {
  -fx-padding: 15 0 0 0;
}
.slider .track {
  -fx-background-color: -fx-light;
  background-color: -fx-light;
  -fx-background-radius: 0;
  -fx-background-insets: 2 -2 1 0;
}

.slider .thumb {
  -fx-background-color: -fx-accent;
  background-color: -fx-accent;
  -fx-background-radius: 15;
  -fx-background-insets: 1 0 1 2;
  -fx-border-radius: 15;
  border-radius: 15;
  -fx-border-insets: 1 0 1 2;
  -fx-pref-width: 15;
  -fx-pref-height: 15;
  -fx-cursor: HAND;
  cursor: HAND;
}

.slider:focused .thumb {
  -fx-border-color: -fx-accent;
  border-color: -fx-accent;
  -fx-opacity: 0.8;
}

.slider .thumb:hover {
  -fx-border-color: -fx-accent;
  border-color: -fx-accent;
  -fx-opacity: 0.8;
}

.slider .thumb:pressed {
  -fx-border-color: -fx-accent;
  border-color: -fx-accent;
  -fx-opacity: 0.8;
}